<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-bluetooth-serial"
    version="0.4.7">

    <name>Bluetooth Serial</name>
    <description>Bluetooth Serial Communication Plugin</description>
    <license>Apache 2.0</license>
    <keywords>bluetooth, BLE, arduino</keywords>
    <repo>https://github.com/don/BluetoothSerial.git</repo>
    <issue>https://github.com/don/BluetoothSerial/issues</issue>

    <js-module src="www/bluetoothSerial.js" name="bluetoothSerial">
        <clobbers target="window.bluetoothSerial" />
    </js-module>

    <platform name="android"
        kotlin="1.2.30">
        <!-- Add Kotlin support -->
        <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
        <hook type="after_platform_add" src="hooks/support-kotlin.js" />
        <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.31" />
        <apply-plugin>kotlin-android-extensions</apply-plugin>
        <apply-plugin>kotlin-kapt</apply-plugin>

        <!-- Cleanup Kotlin source on uninstall -->
        <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
        <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" />

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="BluetoothSerial">
                <param name="android-package" value="com.megster.cordova.BluetoothSerial"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/megster/cordova/BluetoothSerial.kt"
            target-dir="app/src/main/java/com/megster/cordova"/>
        <source-file src="src/android/com/megster/cordova/BluetoothSerialService.kt"
            target-dir="app/src/main/java/com/megster/cordova"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

    </platform>
</plugin>
