<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.bluetooth.chat" version="2.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chat</name>
    <description>
        A Sample Chat Application demonstrating the BluetoothSerial PhoneGap plugin.
    </description>
    <author email="don.coleman@gmail.com" href="http://megster.com">
        Don Coleman
    </author>
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
</widget>
